In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
#Calculate the total number of schools

total_schools = len(school_data_complete["school_name"].unique())

In [4]:
#Calculate the total number of students

total_students = (school_data_complete["student_name"].count())

In [5]:
#Calculate the total budget

total_budget = school_data["budget"].sum()

In [6]:
#Calculate the average math score

average_math_score = school_data_complete["math_score"].mean()

In [7]:
#Calculate the average reading score

average_reading_score = school_data_complete["reading_score"].mean()

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)

students_passing_math_num = school_data_complete.loc[school_data_complete["math_score"] >= 70]["math_score"].count()
students_passing_math_perc = (students_passing_math_num / total_students)* 100

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater)

students_passing_reading_num = school_data_complete.loc[school_data_complete["reading_score"] >= 70]["reading_score"].count()
students_passing_reading_perc = (students_passing_reading_num / total_students)* 100

In [10]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)

students_passing_m_and_r_num = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]["size"].count()
students_passing_m_and_r_perc = (students_passing_m_and_r_num / total_students)* 100

In [11]:
#Create a dataframe to hold the above results

district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Percentage Passing Math": [students_passing_math_perc],
    "Percentage Passing Reading": [students_passing_reading_perc],
    "Percentage Passing Overall": [students_passing_m_and_r_perc]
})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
#Optional: give the displayed data cleaner formatting

In [13]:
#School name

school_name = school_data_complete.set_index("school_name").groupby("school_name")

In [14]:
#School type

school_type = school_data.set_index("school_name")["type"]

In [15]:
#Total students

total_students_2 = school_name["student_name"].count()

In [16]:
#Total school budget

school_budget = school_data.set_index("school_name")["budget"]

In [17]:
#Per student budget

per_student_budget = school_data.set_index("school_name")["budget"] / total_students_2

In [18]:
#Average math score

average_math_score_2 = school_name["math_score"].mean()

In [19]:
#Average reading score

average_reading_score_2 = school_name["reading_score"].mean()

In [20]:
#% passing math (the percentage of students who passed math)

students_passing_math_num_2 = school_data_complete.loc[school_data_complete["math_score"] >= 70].groupby("school_name")["math_score"].count()
students_passing_math_perc_2 = (students_passing_math_num_2 / total_students_2) * 100

In [21]:
#% passing reading (the percentage of students who passed reading)

students_passing_reading_num_2 = school_data_complete.loc[school_data_complete["reading_score"] >= 70].groupby("school_name")["reading_score"].count()
students_passing_reading_perc_2 = (students_passing_reading_num_2 / total_students_2) * 100

In [22]:
#% overall passing (the percentage of students who passed math AND reading)

students_passing_m_and_r_num_2 = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name")["size"].count()
students_passing_m_and_r_perc_2 = (students_passing_m_and_r_num_2 / total_students_2)* 100

In [23]:
school_summary_df = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_students_2,
    "Total School Budget": school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": average_math_score_2,
    "Average Reading Score": average_reading_score_2,
    "Percentage Passing Math": students_passing_math_perc_2,
    "Percentage Passing Reading": students_passing_reading_perc_2,
    "Percentage Passing Overall": students_passing_m_and_r_perc_2
})
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [24]:
#Highest performing schools

highest_performing_df = school_summary_df.sort_values("Percentage Passing Overall", ascending = False)
highest_performing_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [25]:
#Lowest performing schools

lowest_performing_df = school_summary_df.sort_values("Percentage Passing Overall", ascending = True)
lowest_performing_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [26]:
#Math scores by grade

nine_grade_math = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
ten_grade_math = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleven_grade_math = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelve_grade_math = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()

In [27]:
#Math scores by grade df

math_scores_by_grade_df = pd.DataFrame({"9th": nine_grade_math, "10th": ten_grade_math, 
                                        "11th": eleven_grade_math, "12th": twelve_grade_math})
math_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [28]:
#Reading scores by grade

nine_grade_reading = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
ten_grade_reading = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleven_grade_reading = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelve_grade_reading = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

In [29]:
#Reading scores by grade df
reading_scores_by_grade_df = pd.DataFrame({"9th": nine_grade_reading, "10th": ten_grade_reading, 
                                        "11th": eleven_grade_reading, "12th": twelve_grade_reading})
reading_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [30]:
#Scores by school spending

spending_bins = [0, 584, 629, 644, 675]
spending_bin_labels = ["<$585", "$585-630", "$630-645", "$645-650"]

school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"], spending_bins, labels=spending_bin_labels)
scores_by_spending = school_summary_df.groupby("Spending Ranges (Per Student)")

average_math_score_by_spending = school_summary_df.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean()
average_reading_score_by_spending = school_summary_df.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean()
students_passing_math_by_spend_perc = school_summary_df.groupby("Spending Ranges (Per Student)")['Percentage Passing Math'].mean()
students_passing_reading_by_spend_perc = school_summary_df.groupby("Spending Ranges (Per Student)")['Percentage Passing Reading'].mean()
students_passing_m_and_r_by_spend_perc = school_summary_df.groupby("Spending Ranges (Per Student)")['Percentage Passing Overall'].mean()

In [31]:
#Scores by school spending df

scores_by_spending_df = pd.DataFrame({
    "Average Math Score": average_math_score_by_spending,
    "Average Reading Score": average_reading_score_by_spending,
    "Percentage Passing Math": students_passing_math_by_spend_perc,
    "Percentage Passing Reading": students_passing_reading_by_spend_perc,
    "Percentage Passing Overall": students_passing_m_and_r_by_spend_perc
      })
scores_by_spending_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-650,76.997210,81.027843,66.164813,81.133951,53.526855

In [32]:
#Scores by school size

size_bins = [0, 999, 1999, 4999]
size_bin_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=size_bin_labels)
scores_by_size = school_summary_df.groupby("School Size")

average_math_score_by_size = school_summary_df.groupby("School Size")["Average Math Score"].mean()
average_reading_score_by_size = school_summary_df.groupby("School Size")["Average Reading Score"].mean()
students_passing_math_by_size_perc = school_summary_df.groupby("School Size")['Percentage Passing Math'].mean()
students_passing_reading_by_size_perc = school_summary_df.groupby("School Size")['Percentage Passing Reading'].mean()
students_passing_m_and_r_by_size_perc = school_summary_df.groupby("School Size")['Percentage Passing Overall'].mean()

In [33]:
#Scores by school size df

scores_by_size_df = pd.DataFrame({
    "Average Math Score": average_math_score_by_size,
    "Average Reading Score": average_reading_score_by_size,
    "Percentage Passing Math": students_passing_math_by_size_perc,
    "Percentage Passing Reading": students_passing_reading_by_size_perc,
    "Percentage Passing Overall": students_passing_m_and_r_by_size_perc
      })
scores_by_size_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [34]:
#Scores by school type

scores_by_type = school_summary_df.groupby("School Type")


average_math_score_by_type = school_summary_df.groupby("School Type")["Average Math Score"].mean()
average_reading_score_by_type = school_summary_df.groupby("School Type")["Average Reading Score"].mean()
students_passing_math_by_type_perc = school_summary_df.groupby("School Type")['Percentage Passing Math'].mean()
students_passing_reading_by_type_perc = school_summary_df.groupby("School Type")['Percentage Passing Reading'].mean()
students_passing_m_and_r_by_type_perc = school_summary_df.groupby("School Type")['Percentage Passing Overall'].mean()

In [35]:
#Scores by school type df

scores_by_type_df = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "Percentage Passing Math": students_passing_math_by_type_perc,
    "Percentage Passing Reading": students_passing_reading_by_type_perc,
    "Percentage Passing Overall": students_passing_m_and_r_by_type_perc
      })
scores_by_type_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208